<% content_for :title, @news.content %>

<a href=<%= @news.source %> class="link"><%= @news.content %></a>
<a href=<%= @news.source %>>
  (=<%= @news.source %>)
</a>

<p> by 
  <%= @user.username %>
  on:  <%= @news.updated_at.in_time_zone("Melbourne") %> |  
  <%= ( @count.to_s  + ' comments' ) %>
</p>

</br>
<form action="/items" method="POST">
    <!-- po-->
    <input type="hidden" name="item[news_id]" value="<%= @id %>">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <input type="hidden" name="item[item_type]" value="comment">
    <input type="hidden" name="item[user_id]" value= "<%= session[:user_id] %>">
    <textarea name="item[content]" rows="6" cols="60" placeholder="New Comment...."></textarea>
    <br>
    <br>
    <input type="submit" name="submit" class="submit" value="add comment">

</form>
    
<table>
  <% if @comments != nil && @count != 0 %>
    <h1>Comments</h1>
    <% @comments.each do |comment| %>
    <div>
      <p> by 
        <% if @users != nil %>
          <% @users.each do |user| %>
            <% if(user.id.to_i == comment.user_id.to_i)%>
              <%= user.username%>
            <% end %>
          <% end %>
        <% end %>
      | <%= comment.updated_at.in_time_zone("Melbourne") %>
      </p>
      <h4><%= comment.content %></h4>
    </div>
    <% end %>
  <% else %>
    <h1>No Comments</h1>
  <% end %>
    
  <!--</table>-->

</table>
