<header class="navbar navbar-fixed-top navbar-inverse">
  <div style="margin-left: 20px;margin-right: 20px"> 
  <div class="logo">
    <%= link_to image_tag("logo1.png", alt: "logo") ,'/', class: 'navbar-brand', style: "height:auto"%>
    <%= link_to "RMIT News",'/', class: 'navbar-brand', id: "logo", style: "height:100%, font-size: 2em" %>
  </div>
  
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '/' %></li>
        <li><%= link_to "Comments",   '/newcomments' %></li>
        <li><%= link_to "Submit", '/submit' %></li>
        
        <% if(session.key?("user_id")) %>
          <li><%= link_to "Log out", '/logOut' %></li>
        <% else %>
          <li><%= link_to "Login", '/login' %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>